@charset "UTF-8";

*{
margin: 0px;
padding: 0px;

}

html, body{
    min-height: 100vh;  /*Tamanho minimo*/
    background-color: darkgrey;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;  /*para deixar um espaço em cima*/
    font-variant: small-caps;
}

header > p {
padding-bottom: 50px;  /*Para deixar espaço em baixo do cabeçalho*/
}

header a, footer a{  /* Configurando o link cabeçalho*/
color: white;
text-decoration: none; /*Para tirar o sublinhado do link*/
font-weight: bolder; /*para colocar em negrito*/
}

header a:hover, footer a:hover{
    text-decoration: underline;  /*Para colocar o sublinhado só quando o mouse passa por cima*/
}

section{ /*Faz com que almente o tamanho da tela */
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 2em; /*Espaçamento das linhas*/
    padding-left: 30px; /*Espaçamento do texto pro lado*/
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgba(58, 57, 57, 0.568);
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.219);
    width: 400px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}